## Program to build a hospital database

#### Intent of the program: 
The program aims to create tables and establish relations between the tables based on the given hospital ER model. Also, insert few records/ tuples into the created tables.

#### The ER model:
The details of the ER model can be obtained from the associated report.

### Setting up the environment

##### Importing libraries

In [1]:
# Importing the required libraries
import mysql.connector
from mysql.connector import Error

##### Declaring global variables

In [2]:
# Storing the details required to connect to the server and database in variables
# Please update the variables accordingly
user=''
password=''
host='myeusql.dur.ac.uk'
database='Csffh36_dHospital'

##### Defining functions to be used in the code

In [3]:
# Defining all the required functions

def createDB(user, password, host, database):
    ##########################################################################################################
    # Function to establish a connection with the server and create a database.
    # The arguments are hardcoded to a specific user, host and database and these need to be manually updated.
    # The fucntion first drops the database if it exists and then creates the database from scratch.
    ##########################################################################################################
    #Connecting to the server
    connection = mysql.connector.connect(user=user, password=password, host=host)
    #Creating a cursor to pass the commands to the DB
    cursor = connection.cursor()
    # Drop DB if exists
    drop_DB = "DROP DATABASE IF EXISTS {};".format(database)
    cursor.execute(drop_DB)
    # Creating the DB
    create_DB = "CREATE DATABASE {};".format(database)
    cursor.execute(create_DB)
    print("The database {} has been successfully created.".format(database))
    cursor.close()

def connectToDB(user, password, host, database):
    ##########################################################################################################
    # Function to establish a connection with the database where the SQL operations need to be performed.
    # The arguments are hardcoded to a specific user, host and database and these need to be manually updated.
    # The fucntion returns the connection and the cursor details.
    ##########################################################################################################
    #Connecting to the DB
    connection = mysql.connector.connect(user=user, password=password, host=host,database=database)
    #Creating a cursor to pass the commands to the DB
    cursor = connection.cursor()
    print("Connected to the server and the database {}".format(database))
    return (connection, cursor)

def closeConnection(connection, cursor):
    ##########################################################################################################
    # Function to close the connection.
    # The function takes in the connection and cursor as input arguments and uses them to close the connection.
    ##########################################################################################################
    if(connection.is_connected()):
        cursor.close()
        print("Connection to the server has been closed.")
        
def insertValuesIntoPatients(connection, cursor, first_name, middle_name, last_name, date_of_birth, address, contact_number, nhs_no, ssn, 
                             international, passport, brp):
    ##########################################################################################################
    # Function to insert data into the Patients table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO patients(patient_id, first_name, middle_name, last_name, date_of_birth, address, contact_number, nhs_no, ssn, international, passport, brp) 
                        VALUES (NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (first_name, middle_name, last_name, date_of_birth, address, contact_number, nhs_no, ssn, international, 
                            passport, brp)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Patients table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Patients table due to {}".format(error))
        closeConnection(connection, cursor)        
         
def insertValuesIntoDoctors(connection, cursor, first_name, middle_name, last_name, date_of_birth, address, contact_number, 
                            nhs_no, ssn, employment_status):
    ##########################################################################################################
    # Function to insert data into the Doctors table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO doctors(employee_id, first_name, middle_name, last_name, date_of_birth, address, contact_number, nhs_no, ssn, employment_status) 
                        VALUES (NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (first_name, middle_name, last_name, date_of_birth, address, contact_number, 
                            nhs_no, ssn, employment_status)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Doctors table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Doctors table due to {}".format(error))
        closeConnection(connection, cursor)
        
def insertValuesIntoAppointments(connection, cursor, patient_id, employee_id, case_id, appointment_type, start_time, end_time, appointment_status):
    ##########################################################################################################
    # Function to insert data into the Appointments table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO appointments(appointment_id, patient_id, employee_id, case_id, appointment_type, start_time, end_time, appointment_status) 
                        VALUES (NULL, %s, %s, %s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (patient_id, employee_id, case_id, appointment_type, start_time, end_time, appointment_status)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Appointments table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Appointments table due to {}".format(error))
        closeConnection(connection, cursor)
         
def insertValuesIntoCases(connection, cursor, patient_id, medical_history, symptoms, diagnosis, treatment):
    ##########################################################################################################
    # Function to insert data into the Cases table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO cases(case_id, patient_id, medical_history, symptoms, diagnosis, treatment) 
                        VALUES (NULL, %s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (patient_id, medical_history, symptoms, diagnosis, treatment)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Cases table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Cases table due to {}".format(error))
        closeConnection(connection, cursor)
        
def insertValuesIntoPrescriptions(connection, cursor, prescription_id, appointment_id, case_id, drug_id, quantity):
    ##########################################################################################################
    # Function to insert data into the Prescriptions table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO prescriptions(prescription_id, appointment_id, case_id, drug_id, quantity) 
                        VALUES (%s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (prescription_id, appointment_id, case_id, drug_id, quantity)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Prescriptions table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Prescriptions table due to {}".format(error))
        closeConnection(connection, cursor)
        
def insertValuesIntoDrugs(connection, cursor, drug_name, drug_producer, drug_provider, in_stock, units):
    ##########################################################################################################
    # Function to insert data into the Drugs table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every insertion, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the insertion query
        insert_query = """INSERT INTO drugs(drug_id, drug_name, drug_producer, drug_provider, in_stock, units) 
                        VALUES (NULL, %s, %s, %s, %s, %s)"""
        # Creating the tuple to replace the '%s' in the insertion query
        record_to_insert = (drug_name, drug_producer, drug_provider, in_stock, units)
        # Both the query and the tuple need to be passed to the execute function
        cursor.execute(insert_query, record_to_insert)
        # Commiting the changes to the database
        connection.commit()
        print("Insert status on Drugs table: Successful")
    except mysql.connector.Error as error:
        print("Insertion failed into Drugs table due to {}".format(error))
        closeConnection(connection, cursor)
         
def updateValuesInDrugs(connection, cursor, drug_id, in_stock, units):
    ##########################################################################################################
    # Function to update data in the Drugs table.
    # The function takes in the the list of table attributes in the form of arguments.
    # For every update statement, the function connects to the database and disconnets to secure the database.
    ##########################################################################################################
    try:
        # Creating the update query
        update_query = "UPDATE drugs SET in_stock = {}, units = {} WHERE drug_id = {}".format(in_stock,units,drug_id)
        cursor.execute(update_query)
        connection.commit()
        print("Record update status on Drugs table: Successful")
    except mysql.connector.Error as error:
        print("Record could not be updated due to {}".format(error))
        closeConnection(connection, cursor)

### Creating the tables and relationships using primary and foreign keys

##### Creating the database

In [4]:
# Create the DB
createDB(user, password, host, database)

The database Csffh36_dHospital has been successfully created.

##### Setting up global connection

In [5]:
# Global connection
(connection, cursor) = connectToDB(user, password, host, database)

Connected to the server and the database Csffh36_dHospital

##### Creating tables

The following tables have been created based on the ER model provided in the report:
1. doctors
2. patients
3. cases
4. appointments
5. prescriptions
6. drugs

Key notes:
- The cardinality ratio for appointments and prescriptions is 1:1; however, the prescriptions table stores drugs for the same prescription as separate rows, forcing the need for multiple entries of the same appointment ID. Owing to this, the UNIQUE constraint has not been imposed on the appointment_id foreign key.
- The total participation cannot be implemented at the table level.

In [6]:
#Creating the tables and their relations as per the ER diagram
try:
    # Creating the create table query
    create_table_query =  ["""CREATE TABLE patients (
                            patient_id INTEGER AUTO_INCREMENT PRIMARY KEY,
                            first_name VARCHAR(20),
                            middle_name VARCHAR (20),
                            last_name VARCHAR (20),
                            date_of_birth DATE,
                            address VARCHAR (100),
                            contact_number VARCHAR (50),
                            nhs_no NUMERIC(10,0),
                            ssn VARCHAR (10),
                            international BOOLEAN,
                            passport VARCHAR(15),
                            brp VARCHAR(9),
                            CONSTRAINT chk_patients CHECK (international IN (0, 1))
                        );""",
                       """CREATE TABLE doctors (
                            employee_id INTEGER AUTO_INCREMENT PRIMARY KEY,
                            first_name VARCHAR(20),
                            middle_name VARCHAR (20),
                            last_name VARCHAR (20),
                            date_of_birth DATE,
                            address VARCHAR (100),
                            contact_number VARCHAR (50),
                            nhs_no NUMERIC(10,0),
                            ssn VARCHAR (10),
                            employment_status VARCHAR(10),
                            CONSTRAINT chk_doctors CHECK (employment_status IN ('Active', 'Inactive'))
                        );""",
                     """CREATE TABLE cases (
                            case_id INTEGER AUTO_INCREMENT PRIMARY KEY,
                            patient_id INTEGER NOT NULL REFERENCES patients,
                            medical_history VARCHAR(200),
                            symptoms VARCHAR(200),
                            diagnosis VARCHAR(400),
                            treatment VARCHAR(400)
                        );""",
                     """CREATE TABLE appointments (
                            appointment_id INTEGER AUTO_INCREMENT PRIMARY KEY,
                            employee_id INTEGER NOT NULL REFERENCES doctors,
                            patient_id INTEGER NOT NULL REFERENCES patients,
                            case_id INTEGER NOT NULL REFERENCES cases,
                            appointment_type VARCHAR (50),
                            start_time DATETIME,
                            end_time DATETIME,
                            appointment_status VARCHAR (50)
                        );""",
                    """CREATE TABLE drugs (
                            drug_id INTEGER AUTO_INCREMENT PRIMARY KEY,
                            drug_name VARCHAR(30),
                            drug_producer VARCHAR(50),
                            drug_provider VARCHAR(50),
                            in_stock BOOLEAN,
                            units INTEGER,
                            CONSTRAINT chk_drugs CHECK (in_stock IN (0, 1))
                        );""",
                      """CREATE TABLE prescriptions (
                            prescription_id INTEGER,
                            appointment_id INTEGER NOT NULL REFERENCES appointments,
                            case_id INTEGER NOT NULL REFERENCES cases,
                            drug_id INTEGER NOT NULL REFERENCES drugs,
                            quantity INTEGER
                        );"""]

    # To make sure there's no duplication of the table, we will execute a query to drop the table if it exists
    # The table order in the delete list has been organizaed to prevent foreign key constraint violation
    table_delete_list = ["prescriptions", "appointments", "doctors", "drugs", "cases", "patients"]
    # Iterating over for loop to delete all the tables
    for table_name in table_delete_list:
        drop_table_query = "DROP TABLE IF EXISTS " + table_name
        cursor.execute(drop_table_query)
    # Iterating over for loop to create all the tables
    for create_query in create_table_query:
        cursor.execute(create_query)
    print("Successfully created the defined tables and their relationships.")
except mysql.connector.Error as error:
    print("Creation of tables failed due to {}".format(error))
    closeConnection(connection, cursor)

Successfully created the defined tables and their relationships.

### Inserting data into the created tables

#### Inserting records into the other tables 
##### List of tables:
1. doctors
2. patients
3. cases
4. appointments
5. prescriptions
6. drugs

#### Updating data in few tables to maintain consistency in the DB state
##### Table details:
Drugs table's "units" attribute after every prescription

In [7]:
# Inserting doctors
insertValuesIntoDoctors(connection, cursor, 'Penial','','Paul', '1985-12-20','Cambridge, UK','+449872387123; +44777387123',987167273,'TH76221','Active')
insertValuesIntoDoctors(connection, cursor, 'Deborah','Ruth','C',' 1990-12-20','London, UK','+449872387124',987167278,'TH75621','Active')
insertValuesIntoDoctors(connection, cursor, 'Daniel', '', 'Jonah', '1998-05-07', 'Market place, DH14T7', '+917827361', 9273123, 'AD76137233', 'Active')

# Inserting drugs
insertValuesIntoDrugs(connection, cursor, 'Paracetamol API', 'Farmson Pharmaceutical-456 MT', 'Medtech', '1', 900)
insertValuesIntoDrugs(connection, cursor, 'Cheston Cold', 'Cipla Ltd.', 'Shark Medical Services', '1', 700)
insertValuesIntoDrugs(connection, cursor, 'Telmisartal 40', 'Glenmark', 'Green Earth Medical', '1', 1000)
insertValuesIntoDrugs(connection, cursor, 'Ciprofloxacin-TZ', 'Cipla Ltd.', 'Green Earth Medical; CCC Medical Co.', '1', 1000)

# Scenario 1
# Patient 1 insertion with entires in all tables
insertValuesIntoPatients(connection, cursor, 'James', '', 'Heart', '1969-08-20', 'Sheraton House, Sheraon Park, DH14FL', '+448728379872; +447838871294', 123456789, 'AD76137283', '1', 'ZA51810', 'GH6293827')
insertValuesIntoCases(connection, cursor, 1,'Healthy','Cold, cough, fever', 'Flu', 'Medication, food and rest')
insertValuesIntoAppointments(connection, cursor, 1,2,1, 'Completed', '2021-12-27 12:15:00', '2021-12-27 13:45:00', 'Pre-booked')
insertValuesIntoPrescriptions(connection, cursor, 1,1,1,1,6)
insertValuesIntoPrescriptions(connection, cursor, 1,1,1,2,2)
updateValuesInDrugs(connection, cursor, 1,'1',884)
updateValuesInDrugs(connection, cursor, 2,'1',698)

# Scenario 2
# Patient 2 without the need for drug prescription
insertValuesIntoPatients(connection, cursor, 'Penolope', 'Mary', 'Drake', '1995-12-20', 'Neville House, DH15Y8', '+4487245679872', 123455589, 'AD76133483', '0', 'ZA55610', '89723h712')
insertValuesIntoCases(connection, cursor, 2,'Healthy','General check-up', '', '')
insertValuesIntoAppointments(connection, cursor, 2,1,2, 'Reschedule meeting', '2021-12-27 10:15:00', '2021-12-27 10:45:00', 'Walk-in')

# Scenario 3
# Patient 1 with same case revists and gets assigned to a different doctor
insertValuesIntoAppointments(connection, cursor, 1,3,1, 'In-prgress', '2021-12-30 12:15:00', '2021-12-30 13:45:00', 'Walk-in')

# Scenario 4
# Patient 2 comes back and has a new case created but is assigned the same doctor
insertValuesIntoCases(connection, cursor, 2,'Healthy','Fever, motions and dehydration', 'Diarrhea', 'IV medication and saline')
insertValuesIntoAppointments(connection, cursor, 2,1,3, 'In-prgress', '2022-01-02 12:15:00', '2022-01-02 12:15:00', 'Pre-booked')
insertValuesIntoPrescriptions(connection, cursor, 2,4,3,1,10)
insertValuesIntoPrescriptions(connection, cursor, 2,4,3,3,10)
insertValuesIntoPrescriptions(connection, cursor, 2,4,3,4,10)
updateValuesInDrugs(connection, cursor, 1,'1',874)
updateValuesInDrugs(connection, cursor, 3,'1',990)
updateValuesInDrugs(connection, cursor, 4,'1',990)

Insert status on Doctors table: Successful
Insert status on Doctors table: Successful
Insert status on Doctors table: Successful
Insert status on Drugs table: Successful
Insert status on Drugs table: Successful
Insert status on Drugs table: Successful
Insert status on Drugs table: Successful
Insert status on Patients table: Successful
Insert status on Cases table: Successful
Insert status on Appointments table: Successful
Insert status on Prescriptions table: Successful
Insert status on Prescriptions table: Successful
Record update status on Drugs table: Successful
Record update status on Drugs table: Successful
Insert status on Patients table: Successful
Insert status on Cases table: Successful
Insert status on Appointments table: Successful
Insert status on Appointments table: Successful
Insert status on Cases table: Successful
Insert status on Appointments table: Successful
Insert status on Prescriptions table: Successful
Insert status on Prescriptions table: Successful
Insert status on Prescriptions table: Successful
Record update status on Drugs table: Successful
Record update status on Drugs table: Successful
Record update status on Drugs table: Successful

##### Closing the connection

In [8]:
# Closing the connection
closeConnection(connection, cursor)

Connection to the server has been closed.